/** Global Style **/
.h1-primary {
    font-family: 'Plus Jakarta Sans';
    font-size: 48px;
    /* color: white; */
    font-weight: 500;
    color: #0B0909;
}
h2 {
    font-family: 'Plus Jakarta Sans';
    font-size: 48px;
    /* color: white; */
    font-weight: 500;
    color: #0B132A;
}
p {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
}


/** Global style navbar-footer **/
nav {
    position: relative;
    height: 76px;
    color: white;
    z-index: 2;
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}
.nav-left {
    position: absolute;
    left: 130px;
    top: 22px;
    /* width: 357px; */
}
.nav-left img {
    display: inline-block;
    vertical-align: middle;
}
.menu-navigasi {
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    padding-left: 0;
}
.nav-left a {
    text-decoration: none;
    color: white;
}
.nav-left li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
}
.nav-left li > a {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: white;
}

.nav-right {
    position: absolute;
    right: 130px;
    transform: translateX(50%);
    top: 50%;
    transform: translateY(-50% );
}
.nav-right svg {
    vertical-align: middle;
}
.nav-right a {
    text-decoration: none;
    padding: 12px 18px;
}
.nav-right>.btn-sign-in {
    color: white;
    border: solid 1px;
    border-radius: 5px;
    border-color: white;
    padding: 12px 18px;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 22px;
}
.nav-right>.btn-sign-up {
    color: #0B132A;
    background-color: #FF8906;
    padding: 12px 18px;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    margin-left: 22px;
}
.cart-icon {
    margin-left: 22px;
}

/* Footer */
footer {
    padding-top: 50px;
    padding-left: 130px;
    padding-bottom: 67.5px;
    background-color: #F8F8F8;
}
.footer {
    display: inline-block;
    vertical-align: top;
}
.footer:nth-child(1){
    width: 355px;
    margin-right: 45px;
    vertical-align: bottom;
}
.footer:nth-child(1)>img {
    margin-bottom: 22.5px;
}
.footer:nth-child(1)>p {
    margin-bottom: 32px;
}
.footer:nth-child(1)>p {
    color: #4F5665;
}
.footer:nth-child(1)>span {
    color: #AFB5C0;
}
.footer:nth-child(2){
    width: 94px;
    margin-right: 106px;
}
.footer:nth-child(3) {
    margin-right: 76px;
}
.footer:nth-child(4) .icon-sm {
    display: inline-block;
    margin-right: 20px;
}
.footer:nth-child(4) .icon-sm>svg {
    background-color: #0B132A;
    border-radius: 50%;
}
.footer>h2 {
    font-size: 18px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 20px;
}
.footer:nth-child(2)>h2 {
    margin-bottom: 26px;
}
.footer li {
    list-style: none;
}
.footer li>a {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    color: #4F5665;
    line-height: 30px;
    margin-bottom: 10px
}

/** Global Style Register dkk **/
h1 {
    font-family: 'Plus Jakarta Sans';
    font-size: 22px;
    font-weight: 600;
    color: #8E6447;
    margin-bottom: 25px;
}
.register-right p {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    margin-bottom: 25px;
}
label {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 600;
    color: #0B132A;
}
.wrap-input {
    position: relative;
    height: 52px;
    width: 780px;
    padding: 0;
    margin-top: 13px;
    margin-bottom: 25px;
}
.wrap-input>input {
    position: absolute;
    box-shadow: none;
    background-color: #FCFDFE;
    border-color: #DEDEDE;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    width: 728.334px;
    height: 52px;
    padding-left: 47px;
    color: #4F5665;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans';
}
.wrap-input>.icon-depan {
    position: absolute;
    width: 24px;
    z-index: 2;
    left: 13px;
    top: 54%;
    transform: translateY(-50%);
}
.wrap-input>.icon-belakang {
    position: absolute;
    width: 16px;
    z-index: 2;
    right: 13px;
    top: 54%;
    transform: translateY(-50%);
}
.btn-submit {
    width: 100%;
    height: 50px;
    color: #0B132A;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background-color: #FF8906;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
}
.have-account {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    text-align: center;
    margin-top: 25px;
}
.have-account>a {
    color: #FF8906;
}
.wrap-or-bottom {
    position: relative;
    width: 780px;
    height: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.wrap-or-bottom>.hr-1 {
    position: absolute;
    left: 0;
    border: none;
    border-top: 0.5px solid;
    width: 312px;
    border-color: #DEDEDE;
}
.or {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
    color: #AAAAAA;
}
.wrap-or-bottom>.hr-2 {
    position: absolute;
    right: 0;
    border: none;
    border-top: 0.5px solid;
    width: 312px;
    border-color: #DEDEDE;
}
.wrap-oauth {
    text-align: center;
}
.oauth {
    text-align: center;
    display: inline-block;
    width: 383px;
    height: 64px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    cursor: pointer;
}
.oauth>svg {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 22px;
}
.oauth>span {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    color: #4F5665;
}
.wrap-input>.icon-belakang {
    cursor: pointer;
}



/** Desktop - Register **/
.wrapper {
    position: relative;
    height: 1024px;
}
.register-left {
    position: absolute;
    left: 0;
    width: 460px;
    height: 1024px;
}
.register-right {
    position: absolute;
    right: 130px;
    left: 530px;
    top: 61px;
    width: 780px;
}

/** Desktop - Home **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    padding: 0
}
nav {
    background-color: #0B090921;
}
.wrapper-banner {
    position: relative;
    height: 1024px;
    color: white;
    top: -76px;
}
.left-banner {
    position: absolute;
    left: 0;
    background-image: url("/assets/images/Rectangle 286.png");
    width: 730px;
    height: 1024px;
    margin: 0;
    border: none;
}
.left-banner>.left-banner-inside {
    margin-top: 283px;
    margin-left: 132px;
    margin-right: 80px;
}
.left-banner>.left-banner-inside>.wrapper-h1 {
    margin-bottom: 25px;

}
.left-banner>.left-banner-inside>.wrapper-h1>h1 {
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
    font-size: 3rem;
    color: white;
    margin-bottom: 25px;
}
.left-banner>.left-banner-inside>.wrapper-h1>p {
    margin-right: 30px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans'
}
.left-banner>.left-banner-inside>.wrapper-btn-get-started {
    margin: 15px 0 25px 0;
    padding: 15px 0 15px 0;
}
.left-banner>.left-banner-inside>.wrapper-btn-get-started>.btn-get-started {
    padding: 15px 32px;
    margin: 15px 0;
    background-color: #FF8906;
    border-radius: 6px;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: white;
}
.left-banner .proof {
    display: inline-block;
    width: 146px;
    margin-right: 36px;
}
.left-banner .proof:last-child {
    margin-right: 0;
}
.left-banner .proof-num {
    font-family: 'Plus Jakarta Sans';
    font-size: 48px;
    font-weight: 500;
    color: #FF8906;
}
.left-banner .wrapper-proof p {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 12px;
}
.right-banner{
    position: absolute;
    right: 0;
    width: 712px;
    margin: 0;
    border: none;
}
.wrapper-provide {
    position: relative;
    height: 574px;
    top: -76px;
}
.provide-left {
    position: absolute;
    left: 0;
    width: 731px;
}
.provide-left>.inside-provide-left {
    width: 529px;
    height: 465px;
    margin-top: 54px;
    margin-left: 130px;
    margin-right: 71px;
}
.provide-left h2>span {
    color: #8E6447;
}
.provide-left p {
    color: #4F5665;
    margin-top: 25px;
    margin-bottom: 25px;
}
.provide-left li {
    list-style: none;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 25px;
    color: #4F5665;
}
.provide-left .ceklis {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.provide-right {
    position: absolute;
    right: 0;
    width: 711px;
}
.home-products {
    margin-top: 5px;
    margin-bottom: 84px;
    text-align: center;
}
.home-products>.title-product {
    text-align: center;
    margin-bottom: 60px;
}
.home-products h2 {
    margin-bottom: 25px;
}
.garis-bawah {
    height: 7px;
    width: 68px;
    background-color: #FF8906;
    margin: 0 auto 25px auto;
}
.home-products p {
    color: #4F5665;
}
.home-products .list-product {
    display: flex;
    min-height: 435px;
    max-height: auto;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}
.home-products .list-product>.item-product {
    width: 280px;
    height: 435px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.home-products .list-product>.item-product:last-child {
    margin-right: 0;
}
.home-products .wrapper-inside-item-product {
    position: relative;
}
.home-products .list-product>.item-product .wrapper-desc-item {
    position: absolute;
    top: 218px;
    left: 9px;
    right: 9px;
    width: 262px;
    height: 217px;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    padding: 11px 10px 25px 10px;
    text-align: left;
}
.home-products .wrapper-desc-item h3 {
    margin-bottom: 12px;
}
.home-products .wrapper-desc-item > .price {
    color: #FF8906;
    font-family: 'Plus Jakarta Sans';
    font-size: 1.375rem;
    font-weight: 500;
}
.home-products .item-product .home-btn-product {
    display: flex;
    gap: 0.438rem;
    margin-top: 12px;
}
.home-products .item-product .home-btn-product>p {
    display: flex;
    align-items: center;
}
.home-products .item-product .home-btn-product>p>a {
    display: inline-block;
    height: 35px;
    text-decoration: none;
    line-height: 35px;
    font-weight: 500;
    font-size: 14px;
    color: #0B132A;
    padding: 0 75.5px;
    background-color: #FF8906;
    border-radius: 6px;
}
.home-products .item-product .home-btn-product > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.188rem;
    width: 3.625rem;
    border: 1px solid #FF8906;
    border-radius: 0.375rem;
}


/* Maps Store */
.store-locations {
    text-align: center;
    background-color: rgba(232, 232, 232, 0.3);
    padding: 46px 120px 97px 140px;
}
/* .store-locations>.wrapper-inside-store-location {
    margin: 46px 120px 97px 140px;
} */
.store-locations .loc-title {
    margin-bottom: 60px;
}
.store-locations .loc-title>h2 {
    /* display: inline-block; */
    margin-bottom: 25px;
}
.store-locations .loc-title>h2>span {
    color: #8E6447;
}
.store-locations .loc-title p {
    color: #4F5665;
}

/* Testimonial */
.testimonial {
    position: relative;
    height: 583px;
    background-image: url(/assets/images/Rectangle\ 294.png);
    margin-bottom: 70px;
}
.testimonial>.img-viezh {
    position: absolute;
    left: 132px;
    top: 76px;
}
.testimonial>.testimoni-viezh {
    position:absolute;
    left: 730px;
    top: 76px;
}
.testimonial>.testimoni-viezh>h2 {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.testimonial>.testimoni-viezh>.wrapper-name-viezh {
    margin-bottom: 25px;
}
.testimonial>.testimoni-viezh .garis-vertical {
    display: inline-block;
    width: 7px;
    height: 68px;
    background-color: #FF8906;
    margin-right: 20px;
}
.testimonial>.testimoni-viezh h3 {
    display: inline-block;
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
    vertical-align: top;
}
.testimonial>.testimoni-viezh>.occup {
    color: #FF8906;
    margin-bottom: 25px;
}
.testimonial>.testimoni-viezh>.quote {
    color: white;
    margin-bottom: 25px;
}
.testimonial>.testimoni-viezh>.stars svg {
    margin-right: 25px;
    height: 20px;
}
.testimonial>.testimoni-viezh>.stars {
    color: white;
    margin-bottom: 25px;
}
.testimonial .icon-panah-1 {
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 25px;
}
.testimonial .icon-panah-2 {
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 25px;
}
.testimonial .icon-panah-2 {
    margin-right: 0;
}
.testimonial .icon-panah-1 svg {
    display: inline-block;
    vertical-align: middle;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: white;
    padding: 15.67px 15.67px 14.99px 14.99px;
}
.testimonial .icon-panah-2 svg {
    display: inline-block;
    vertical-align: middle;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #FF8906;
    padding: 15.67px 15.67px 14.99px 14.99px;
}
.testimonial .wrapper-pagination>.lonjong {
    margin-right: 9px;
    text-decoration: none;
}
.testimonial .pagination {
    display: inline-block;
    text-decoration: none;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin-right: 9px;
}
.testimonial .pagination:last-child {
    margin-right: 0px;
}


/** Desktop - Product **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #0B0909;
}
.product-banner-product {
    display: flex;
    height: 19.063rem;
    background-image: url(/assets/images/Rectangle\ 299.jpg);
    align-items: center;
    padding-left: 8.125rem;
    margin-bottom: 3rem;
    /* justify-content: center; */
}
.product-banner-product > h1 {
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-size: 3rem;
    font-weight: 500;
    width: 100%;
    max-width: 55rem;
    /* justify-content: center; */
}
.product-today-promo {
    display: flex;
    flex-direction: column;
}
.today-promo > .wrapper-title-promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7.938rem;
    padding-right: 8.125rem;
    margin-bottom: 1.563rem;
    align-items: center;
}
.today-promo > .wrapper-title-promo > h2 {
    color: #0B0909;
}
.today-promo > .wrapper-title-promo > h2 > span {
    color: #8E6447;
}
.today-promo > .wrapper-title-promo > .wrapper-icon-panah {
    display: flex;
    gap: 0.563rem;
}
.today-promo > .wrapper-title-promo > .wrapper-icon-panah > .icon-panah {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.938rem;
    height: 2.938rem;
    border-radius: 50%;
}
.today-promo > .wrapper-title-promo > .wrapper-icon-panah > .icon-panah:first-child {
    background-color: #E8E8E8;
}
.today-promo > .wrapper-title-promo > .wrapper-icon-panah > .icon-panah:last-child {
    background-color: #FF8906;
}
.items-promo {
    display: flex;
    gap: 3.063rem;
    margin-bottom: 1.563rem;
    overflow-x: auto;
}
.items-promo > .item-promo {
    display: flex;
    gap: 0.563rem;
    background-color: #88B788;
    border-radius: 1.25rem;
    align-items: end;
    text-decoration: none;
    height: 6.813rem;
    width: 20.938rem;
}
.items-promo > .item-promo > .image {
    margin-left: 0.625rem;
    margin-bottom: 0;
}
.items-promo > .item-promo > .description {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0.688rem 1.563rem 0.688rem 0.563rem;
    color: black;
}
.items-promo > .item-promo > .description > h3 {
    font-size: 0.875rem;
    font-weight: 700;
}
.items-promo > .item-promo > .description > p {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.813rem;
}
.items-promo > .item-promo > .description > span {
    font-size: 0.875rem;
    font-weight: 500;
}
.items-promo > .item-promo > .description > span {
    color: white;
}
.today-promo > .wrapper-pagination {
    padding-left: 1.563rem;
    margin-bottom: 1.563rem;
}
.today-promo > .wrapper-pagination > .lonjong, .pagination {
    text-decoration: none;
}

.our-product {
    padding: 0 8.313rem 2rem 7.938rem;
}
.our-product > h2 {
    color: #0B0909;
    margin-bottom: 1.535rem;
}
.our-product > h2 > span {
    color: #8E6447;
}
.our-product > .flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}
.our-product > .flex-container > .filter {
    color: white;
    font-family: 'Plus Jakarta Sans';
    background-color: #0B0909;
    padding: 1.688rem 2.375rem 2.625rem 1.875rem;
    flex-grow: 383;
    border-radius: 1rem;
}
.our-product .filter .search-product {
    font-size: 1.125rem;
    font-weight: 700;
}
.our-product .filter #search-product {
    height: 4rem;
    width: 19.688rem;
    padding-left: 1.204rem;
    margin-top: 0.625rem;
    margin-bottom: 1rem;
    border: 1px #DEDEDE;
    border-radius: 4px;
}
.our-product .header-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.our-product .filter > form p {
    font-family: 'Plus Jakarta Sans';
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.our-product .filter > form > .header-filter > button {
    font-family: 'Plus Jakarta Sans';
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
}
.our-product .filter fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: none;
    margin-bottom: 1rem;
}
.our-product .filter fieldset input {
    color: black;
}
.our-product .filter fieldset legend {
    font-family: 'Plus Jakarta Sans';
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.our-product > .flex-container > .product-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.063rem 1.438rem;
    flex-grow: 777;
}
.product-item {
    position: relative;
    height: 531px;
}
.product-item > .wrapper-img-item {
    position: relative;
}
.product-item > .wrapper-img-item > p {
    position: absolute;
    top: 0.938rem;
    left: 1rem;
    padding: 0.625rem 0.625rem;
    background-color: red;
    border-radius: 9999px;
    color: white;
}
.product-item > .wrapper-img-item > img {
    width: 100%;
    max-width: 377px;
}
.product-item > .wrapper-desc-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    max-width: 345px;
    font-family: 'Plus Jakarta Sans';
    padding: 0.625rem;
}
.wrapper-desc-item > h3 {
    font-size: 1.375rem;
    color: #0B132A;
    font-weight: 500;
}
.wrapper-desc-item > p {
    font-size: 0.875rem;
    color: #4F5665;
    font-weight: 400;
}
.wrapper-desc-item > .price {
    font-size: 1.375rem;
    font-weight: 500;
    color: #FF8906;
}
.wrapper-desc-item > .price > span {
    color: #D00000;
    font-size: 0.75rem;
    text-decoration: line-through;
}
.wrapper-desc-item .btn-product {
    display: flex;
    gap: 0.438rem;
    text-align: center;
}
.wrapper-desc-item .btn-product > p {
    display: flex;
    width: 100%;
    max-width: 269px;
    background-color: #FF8906;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    height: 2.188rem;
    align-items: center;
    justify-content: center;
}
.wrapper-desc-item .btn-product p > a {
    text-decoration: none;
    color: #0B132A;
}
.wrapper-desc-item .btn-product > a {
    display: flex;
    border: 1px solid #FF8906;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 3.063rem;
}
.product-items .pagination {
    display: flex;
    grid-column: span 2;
    gap: 1.25rem;
    justify-content: center;
}
.product-items .pagination a {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color: #A0A3BD;
    background-color: #E8E8E8;
    margin-top: 0.5rem;
}
.product-items .pagination a:last-child {
    background-color: #FF8906;
}
.product-items .pagination a:hover {
    background-color: #FF8906;
    color: #0B0909;
}


/** Desktop - Detail Product **/
.page-detail-product {
    margin: 5.438rem 8.125rem 3.563rem 8.125rem;
    font-family: 'Plus Jakarta Sans';
}
.page-detail-product .detail-product {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 3rem;
}
.page-detail-product .detail-product > .images {
    display: flex;
    flex-direction: column;
    gap: 1.688rem;
}
.page-detail-product .detail-product > .images > .img-small {
    display: flex;
    gap: 1.25rem;
}
.page-detail-product .detail-product > .wrap-desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page-detail-product .detail-product > .wrap-desc > span {
    display: flex;
    width: 8.313rem;
    height: 2.75rem;
    background-color: #D00000;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
}
.page-detail-product .detail-product > .wrap-desc > h1 {
    font-size: 3rem;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    color: #0B0909;
}
.page-detail-product .detail-product > .wrap-desc > .price {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
.page-detail-product .detail-product > .wrap-desc > .price > p {
    display: flex;
    color: #FF8906;
    font-size: 1.375rem;
    font-weight: 500;
    align-items: center;
}
.page-detail-product .detail-product > .wrap-desc > .price > span {
    display: flex;
    align-items: center;
    text-decoration: line-through;
    color: #D00000;
    font-size: 0.75rem;
}
.page-detail-product .detail-product > .wrap-desc > .stars {
    display: flex;
    gap: 0.625rem;
}
.page-detail-product .detail-product > .wrap-desc > .stars p {
    color: #4F5665;
}
.page-detail-product .detail-product > .wrap-desc > .resume {
    display: flex;
    gap: 1rem;
    font-size: 1.125rem;
    color: #4F5665;
}
.page-detail-product .detail-product > .wrap-desc > .description {
    color: #4F5665;
    font-size: 1rem;
}
.page-detail-product .detail-product > .wrap-desc > .btn-qty {
    position: relative;
    width: 100%;
    max-width: fit-content;
}
.page-detail-product .detail-product > .wrap-desc > .btn-qty > .min-qty {
    background: white;
    border: 1px solid #FF8906;
    width: 2.1rem;
    height: 2.1rem;
    font-weight: 900;
    border-radius: 0.25rem;
    position: absolute;
    left: 0;
    cursor: pointer;
}
.page-detail-product .detail-product > .wrap-desc > .btn-qty > .plus-qty {
    background: #FF8906;
    border: none;
    width: 2.1rem;
    height: 2.1rem;
    font-weight: 900;
    border-radius: 0.25rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.page-detail-product .detail-product > .wrap-desc > .btn-qty > input {
    height: 2.1rem;
    width: 100%;
    max-width: 112px;
    border-color: #E8E8E8;
    text-align: center;
    border-radius: 0.25rem;
}
.page-detail-product .detail-product > .wrap-desc > .choose {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page-detail-product .detail-product > .wrap-desc > .choose > p {
    font-size: 1.125rem;
    font-weight: 700;
    color: #0B0909;
}
.page-detail-product .detail-product > .wrap-desc > .choose > div {
    display: flex;
    gap: 1.938rem;
}
.page-detail-product .detail-product > .wrap-desc > .choose a {
    display: flex;
    width: 10.792rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #4F5665;
    border: 1px solid #E8E8E8;
}
.page-detail-product .detail-product > .wrap-desc > .btn-proceed {
    display: flex;
    gap: 1.063rem;
}
.page-detail-product .detail-product > .wrap-desc > .btn-proceed > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17.594rem;
    height: 2.75rem;
    text-decoration: none;
}
.page-detail-product .detail-product > .wrap-desc > .btn-proceed > a:first-child {
    color: #0B132A;
    background-color: #FF8906;
    border-radius: 0.375rem;
}
.page-detail-product .detail-product > .wrap-desc > .btn-proceed > a:last-child {
    gap: 0.625rem;
    color: #FF8906;
    border: 1px solid #FF8906;
    border-radius: 0.375rem;
}
.recommend-product {
    display: flex;
    flex-direction: column;
}
.recommend-product > .recommend-list {
    display: flex;
}
.recommend-product .recommend-item > div:first-child {
    position: relative;
}
.recommend-product .recommend-item > div:first-child > p {
    position: absolute;
}
.recommend-product .recommend-item > div:first-child > img {
    width: 100%;
}
.recommend-product .recommend-item > div:last-child {
    width: 100%;
    max-width: 21.563rem;
}
.recommend-product .recommend-item > div:last-child > .btn-product {
    display: flex;
}


/* Desktop - Payment Details */

.payment-details > header {
    margin-bottom: 78px;
}

.payment-details > main {
    padding: 0 130px;
}

.payment-details > main > .main-container {
    font-family: 'Plus Jakarta Sans';
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 680px) minmax(0, 480px);
    gap: 20px;
    margin-top: 64px;
}

.payment-details .product-order > .heading-your-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.payment-details h2 {
    font-size: 22px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    color: #0B132A;
}

.payment-details .product-order > .heading-your-order > a {
    background-color: #FF8906;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px;
    color: #0B132A;
    border-radius: 6px;
}

.payment-details .items > .item {
    display: flex;
    justify-content: space-between;
    background-color: #E8E8E84D;
    padding: 10px 32px 10px 10px;
}

.payment-details .items > .item > button {
    align-self: center;
    background: none;
    border: none;
    cursor: pointer;
    height: fit-content;
}

.payment-details .items > .item > div {
    display: flex;
    gap: 28px;
}

.payment-details .items > .item > div > img {
    width: 100%;
    max-width: 178px;
}

.payment-details .items > .item > div > .desc-payment-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.payment-details .desc-payment-item > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 27px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    background-color: #D00000;
    color: white;
    border-radius: 24px;
}

.payment-details .desc-payment-item  > h3 {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #0B0909;
}

.payment-details .desc-payment-item  > p:nth-child(3) {
    color: #4F5665;
}

.payment-details .desc-payment-item  > p:nth-child(4) {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    font-weight: 500;
    color: #FF8906;
}

.payment-details .desc-payment-item  > p:nth-child(4) > span {
    text-decoration: line-through;
    color: #D00000;
    font-weight: 500;
    font-size: 12px;
}

.payment-details .calc-total > h2 {
    display: flex;
    height: 40px;
    margin-bottom: 15px;
    align-items: center;
}

.payment-details .calc-total > div {
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 17.5px 20.5px;
    background: #E8E8E84D;
}

.payment-details .calc-total > div > div {
    display: flex;
    justify-content: space-between;
}

.payment-details .calc-total > div > div h3 {
    font-family: 'Plus Jakarta Sans';
    color: #4F5665;
    font-weight: 700;
    font-size: 18px;
}

.payment-details .calc-total > div > div p {
    font-family: 'Plus Jakarta Sans';
    color: #0B132A;
    font-weight: 700;
    font-size: 18px;
}

.payment-details .calc-total > div > .garis {
    border-top: 1px solid #E8E8E8;
}

.payment-details .calc-total .checkout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8906;
    border-radius: 6px;
    height: 40px;
    text-decoration: none;
    color: #0B132A;
}

.payment-details .calc-total > div div:last-child {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.payment-details .calc-total .bank-logo {
    display: flex;
    justify-content: space-between;
}

.payment-details .calc-total > div div:last-child > p {
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
}

.payment-details .payment-info {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 50px;
}

.payment-details .payment-info > form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 26px;
}

.payment-details .payment-info > form input {
    height: 44px;
    width: 100%;
    background-color: #FCFDFE;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    padding-left: 39px;
}

.payment-details .payment-info > form > div {
    position: relative;
    display: flex;
    align-items: center;
}

.payment-details .payment-info > form > label {
    color: #0B132A;
    font-size: 16px;
    font-weight: 600;
    font-style: 'Plus Jakarta Sans';
}

.payment-details .payment-info > form > div > img {
    position: absolute;
    left: 13px;
    width: 16px;
}

.payment-details .payment-info > div {
    display: flex;
    justify-content: space-between;
    gap: 31px;
}

.payment-details .payment-info > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #4F5665;
    max-width: 206px;
    width: 100%;
    height: 40px;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
}