
/* Desktop - Product */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #0B0909;
}
.banner-product {
    display: flex;
    height: 19.063rem;
    background-image: url(/assets/images/Rectangle\ 299.jpg);
    align-items: center;
    padding-left: 8.125rem;
    margin-bottom: 3rem;
    /* justify-content: center; */
}
.banner-product > h1 {
    color: white;
    /* justify-content: center; */
}
.today-promo {
    display: flex;
    flex-direction: column;
}
.today-promo > .wrapper-title-promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7.938rem;
    padding-right: 8.125rem;
    margin-bottom: 1.563rem;
    align-items: center;
}
.today-promo > .wrapper-title-promo > h2 {
    color: #0B0909;
}
.today-promo > .wrapper-title-promo > h2 > span {
    color: #8E6447;
}
.today-promo > .wrapper-title-promo > .wrapper-icon-panah {
    display: flex;
    gap: 0.563rem;
}
.today-promo > .wrapper-title-promo > .wrapper-icon-panah > .icon-panah {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.938rem;
    height: 2.938rem;
    border-radius: 50%;
}
.today-promo > .wrapper-title-promo > .wrapper-icon-panah > .icon-panah:first-child {
    background-color: #E8E8E8;
}
.today-promo > .wrapper-title-promo > .wrapper-icon-panah > .icon-panah:last-child {
    background-color: #FF8906;
}
.items-promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.063rem;
    margin-bottom: 1.563rem;
}
.items-promo > .item-promo {
    display: flex;
    gap: 0.563rem;
    background-color: #88B788;
    border-radius: 1.25rem;
    align-items: end;
    align-content: space-between;
    text-decoration: none;
}
.items-promo > .item-promo > .image {
    margin-left: 0.625rem;
    margin-bottom: 0;
}
.items-promo > .item-promo > .description {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0.688rem 1.563rem 0.688rem 0.563rem;
    color: black;
}
.items-promo > .item-promo > .description > h3 {
    font-size: 0.875rem;
    font-weight: 700;
}
.items-promo > .item-promo > .description > p {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.813rem;
}
.items-promo > .item-promo > .description > span {
    font-size: 0.875rem;
    font-weight: 500;
}
.items-promo > .item-promo > .description > span {
    color: white;
}
.today-promo > .wrapper-pagination {
    padding-left: 1.563rem;
    margin-bottom: 1.563rem;
}
.today-promo > .wrapper-pagination > .lonjong, .pagination {
    text-decoration: none;
}

.our-product {
    padding: 0 8.313rem 2rem 7.938rem;
}
.our-product > h2 {
    color: #0B0909;
    margin-bottom: 1.535rem;
}
.our-product > h2 > span {
    color: #8E6447;
}
.our-product > .flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}
.our-product > .flex-container > .filter {
    color: white;
    font-family: 'Plus Jakarta Sans';
    background-color: #0B0909;
    padding: 1.688rem 2.375rem 2.625rem 1.875rem;
    flex-grow: 383;
    border-radius: 1rem;
}
.our-product .filter .search-product {
    font-size: 1.125rem;
    font-weight: 700;
}
.our-product .filter #search-product {
    height: 4rem;
    width: 19.688rem;
    padding-left: 1.204rem;
    margin-top: 0.625rem;
    margin-bottom: 1rem;
    border: 1px #DEDEDE;
    border-radius: 4px;
}
.our-product .header-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.our-product .filter > form p {
    font-family: 'Plus Jakarta Sans';
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.our-product .filter > form > .header-filter > button {
    font-family: 'Plus Jakarta Sans';
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
}
.our-product .filter fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: none;
    margin-bottom: 1rem;
}
.our-product .filter fieldset input {
    color: black;
}
.our-product .filter fieldset legend {
    font-family: 'Plus Jakarta Sans';
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.our-product > .flex-container > .product-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    flex-grow: 777;
}
.product-item > .wrapper-img-item {
    position: relative;
}
.product-item > .wrapper-img-item > p {
    position: absolute;
}
.product-item > .wrapper-img-item > img {
    width: 100%;
    max-width: 377px;
}
.product-item > .wrapper-desc-item {
    width: 100%;
    max-width: 345px;
}