* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1440px;
    margin: 0;
    padding: 0
}
nav {
    background-color: #0B090921;
}
.wrapper-banner {
    position: relative;
    height: 1024px;
    color: white;
    top: -76px;
}
.left-banner {
    position: absolute;
    left: 0;
    background-image: url("/assets/images/Rectangle 286.png");
    width: 730px;
    height: 1024px;
    margin: 0;
    border: none;
}
.left-banner>.left-banner-inside {
    margin-top: 283px;
    margin-left: 132px;
    margin-right: 80px;
}
.left-banner>.left-banner-inside>.wrapper-h1 {
    margin-bottom: 25px;

}
.left-banner>.left-banner-inside>.wrapper-h1>h1 {
    margin-bottom: 25px;
}
.left-banner>.left-banner-inside>.wrapper-h1>p {
    margin-right: 30px;
}
.left-banner>.left-banner-inside>.wrapper-btn-get-started {
    margin: 15px 0 25px 0;
    padding: 15px 0 15px 0;
}
.left-banner>.left-banner-inside>.wrapper-btn-get-started>.btn-get-started {
    padding: 15px 32px;
    margin: 15px 0;
    background-color: #FF8906;
    border-radius: 6px;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: white;
}
.left-banner .proof {
    display: inline-block;
    width: 146px;
    margin-right: 36px;
}
.left-banner .proof:last-child {
    margin-right: 0;
}
.left-banner .proof-num {
    font-family: 'Plus Jakarta Sans';
    font-size: 48px;
    font-weight: 500;
    color: #FF8906;
}
.left-banner .wrapper-proof p {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 12px;
}
.right-banner{
    position: absolute;
    right: 0;
    width: 712px;
    margin: 0;
    border: none;
}
.wrapper-provide {
    position: relative;
    height: 574px;
    top: -76px;
}
.provide-left {
    position: absolute;
    left: 0;
    width: 731px;
}
.provide-left>.inside-provide-left {
    width: 529px;
    height: 465px;
    margin-top: 54px;
    margin-left: 130px;
    margin-right: 71px;
}
.provide-left h2>span {
    color: #8E6447;
}
.provide-left p {
    color: #4F5665;
    margin-top: 25px;
    margin-bottom: 25px;
}
.provide-left li {
    list-style: none;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 25px;
    color: #4F5665;
}
.provide-left .ceklis {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.provide-right {
    position: absolute;
    right: 0;
    width: 711px;
}
.products {
    margin-top: 5px;
    margin-bottom: 84px;
    text-align: center;
}
.products>.title-product {
    text-align: center;
    margin-bottom: 60px;
}
.products h2 {
    margin-bottom: 25px;
}
.garis-bawah {
    height: 7px;
    width: 68px;
    background-color: #FF8906;
    margin: 0 auto 25px auto;
}
.products p {
    color: #4F5665;
}
.products .list-product {
    height: 435px;
}
.products .list-product>.item-product {
    display: inline-block;
    width: 280px;
    height: 435px;
    margin-right: 20px;
}
.products .list-product>.item-product:last-child {
    margin-right: 0;
}
.products .wrapper-inside-item-product {
    position: relative;
}
.products .list-product>.item-product .wrapper-desc-item {
    position: absolute;
    top: 218px;
    left: 9px;
    right: 9px;
    width: 262px;
    height: 217px;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    padding: 11px 10px 25px 10px;
    text-align: left;
}
.products .wrapper-desc-item h3 {
    margin-bottom: 12px;
}
.products .item-product .btn-product {
    margin-top: 12px;
}
.products .item-product .btn-product>p {
    display: inline-block;
    vertical-align: middle;
}
.products .item-product .btn-product>p>a {
    display: inline-block;
    height: 35px;
    text-decoration: none;
    line-height: 35px;
    font-weight: 500;
    font-size: 14px;
    color: #0B132A;
    padding: 0 75.5px;
    background-color: #FF8906;
    border-radius: 6px;
}
.products .item-product .btn-product a>svg {
    display: inline-block;
    height: 35px;
    width: 58px;
    vertical-align: middle;
    padding: 5.5px 17px;
    border: 1px solid;
    border-color: #FF8906;
    border-radius: 6px;
}

/* Maps Store */
.store-locations {
    text-align: center;
    background-color: rgba(232, 232, 232, 0.3);
    padding: 46px 120px 97px 140px;
}
/* .store-locations>.wrapper-inside-store-location {
    margin: 46px 120px 97px 140px;
} */
.store-locations .loc-title {
    margin-bottom: 60px;
}
.store-locations .loc-title>h2 {
    /* display: inline-block; */
    margin-bottom: 25px;
}
.store-locations .loc-title>h2>span {
    color: #8E6447;
}
.store-locations .loc-title p {
    color: #4F5665;
}

/* Testimonial */
.testimonial {
    position: relative;
    height: 583px;
    background-image: url(/assets/images/Rectangle\ 294.png);
    margin-bottom: 70px;
}
.testimonial>.img-viezh {
    position: absolute;
    left: 132px;
    top: 76px;
}
.testimonial>.testimoni-viezh {
    position:absolute;
    left: 730px;
    top: 76px;
}
.testimonial>.testimoni-viezh>h2 {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.testimonial>.testimoni-viezh>.wrapper-name-viezh {
    margin-bottom: 25px;
}
.testimonial>.testimoni-viezh .garis-vertical {
    display: inline-block;
    width: 7px;
    height: 68px;
    background-color: #FF8906;
    margin-right: 20px;
}
.testimonial>.testimoni-viezh h3 {
    display: inline-block;
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
    vertical-align: top;
}
.testimonial>.testimoni-viezh>.occup {
    color: #FF8906;
    margin-bottom: 25px;
}
.testimonial>.testimoni-viezh>.quote {
    color: white;
    margin-bottom: 25px;
}
.testimonial>.testimoni-viezh>.stars svg {
    margin-right: 25px;
    height: 20px;
}
.testimonial>.testimoni-viezh>.stars {
    color: white;
    margin-bottom: 25px;
}
.testimonial .icon-panah-1 {
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 25px;
}
.testimonial .icon-panah-2 {
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 25px;
}
.testimonial .icon-panah-2 {
    margin-right: 0;
}
.testimonial .icon-panah-1 svg {
    display: inline-block;
    vertical-align: middle;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: white;
    padding: 15.67px 15.67px 14.99px 14.99px;
}
.testimonial .icon-panah-2 svg {
    display: inline-block;
    vertical-align: middle;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #FF8906;
    padding: 15.67px 15.67px 14.99px 14.99px;
}
.testimonial .wrapper-pagination>.lonjong {
    margin-right: 9px;
    text-decoration: none;
}
.testimonial .pagination {
    display: inline-block;
    text-decoration: none;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin-right: 9px;
}
.testimonial .pagination:last-child {
    margin-right: 0px;
}