body {
    width: 1440px;
    margin: 0;
    padding: 0
}
nav {
    position: relative;
    height: 76px;
    background-color: #0B090921;
    color: white;
}
.nav-left {
    position: absolute;
    left: 130px;
    top: 22px;
    /* width: 357px; */
}
.nav-left img {
    display: inline-block;
    vertical-align: middle;
}
.menu-navigasi {
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    padding-left: 0;
}
.nav-left li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
}
.nav-right {
    position: absolute;
    right: 130px;
    transform: translateX(50%);
    top: 50%;
    transform: translateY(-50% );
}
.nav-right svg {
    vertical-align: middle;
}
.nav-right a {
    text-decoration: none;
    padding: 12px 18px;
}
.nav-right>.btn-sign-in {
    color: white;
    border: solid 1px;
    border-radius: 5px;
    border-color: white;
    padding: 12px 18px;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 22px;
}
.nav-right>.btn-sign-up {
    color: #0B132A;
    background-color: #FF8906;
    padding: 12px 18px;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    margin-left: 22px;
}
.cart-icon {
    margin-left: 22px;
}