* {
    margin: 0;
    padding: 0;
}
body {
    width: 1440px;
    margin: 0;
    padding: 0
}
nav {
    position: relative;
    height: 76px;
    background-color: #0B090921;
    color: white;
    z-index: 2;
}
.nav-left {
    position: absolute;
    left: 130px;
    top: 22px;
    /* width: 357px; */
}
.nav-left img {
    display: inline-block;
    vertical-align: middle;
}
.menu-navigasi {
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    padding-left: 0;
}
.nav-left li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
}
.nav-right {
    position: absolute;
    right: 130px;
    transform: translateX(50%);
    top: 50%;
    transform: translateY(-50% );
}
.nav-right svg {
    vertical-align: middle;
}
.nav-right a {
    text-decoration: none;
    padding: 12px 18px;
}
.nav-right>.btn-sign-in {
    color: white;
    border: solid 1px;
    border-radius: 5px;
    border-color: white;
    padding: 12px 18px;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 22px;
}
.nav-right>.btn-sign-up {
    color: #0B132A;
    background-color: #FF8906;
    padding: 12px 18px;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    margin-left: 22px;
}
.cart-icon {
    margin-left: 22px;
}
.wrapper-banner {
    position: relative;
    height: 1024px;
    color: white;
    top: -76px;
}
.left-banner {
    position: absolute;
    left: 0;
    background-image: url("/assets/images/Rectangle 286.png");
    width: 730px;
    height: 1024px;
    margin: 0;
    border: none;
}
.left-banner>.left-banner-inside {
    margin-top: 283px;
    margin-left: 132px;
    margin-right: 80px;
}
.left-banner>.left-banner-inside>.wrapper-h1 {
    margin-bottom: 25px;

}
.left-banner>.left-banner-inside>.wrapper-h1>h1 {
    margin-bottom: 25px;
}
.left-banner>.left-banner-inside>.wrapper-h1>p {
    margin-right: 30px;
}
.left-banner>.left-banner-inside>.wrapper-btn-get-started {
    margin: 15px 0 25px 0;
    padding: 15px 0 15px 0;
}
.left-banner>.left-banner-inside>.wrapper-btn-get-started>.btn-get-started {
    padding: 15px 32px;
    margin: 15px 0;
    background-color: #FF8906;
    border-radius: 6px;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: white;
}
.left-banner .proof-1 {
    display: inline-block;
    width: 146px;
    margin-right: 36px;
}
.left-banner .proof-2 {
    display: inline-block;
    width: 146px;
    margin-right: 36px;
}
.left-banner .proof-3 {
    display: inline-block;
    width: 146px;
}
.left-banner .proof-num {
    font-family: 'Plus Jakarta Sans';
    font-size: 48px;
    font-weight: 500;
    color: #FF8906;
}
.left-banner .wrapper-proof p {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 12px;
}
.right-banner{
    position: absolute;
    right: 0;
    width: 712px;
    margin: 0;
    border: none;
}
