body {
    max-width: 1440px;
    max-height: 1024px;
    margin: 0;
    padding: 0;
}
.wrapper {
    position: relative;
    height: 1024px;
}
.register-left {
    position: absolute;
    left: 0;
    width: 460px;
    height: 1024px;
}
.register-right {
    position: absolute;
    right: 130px;
    left: 530px;
    top: 61px;
    width: 780px;
}