h1 {
    font-family: 'Plus Jakarta Sans';
    font-size: 48px;
    /* color: white; */
    font-weight: 500;
}
p {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
}
