h1 {
    font-family: 'Plus Jakarta Sans';
    font-size: 22px;
    font-weight: 600;
    color: #8E6447;
    margin-bottom: 25px;
}
p {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    margin-bottom: 25px;
}
label {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 600;
    color: #0B132A;
}
.wrap-input {
    position: relative;
    height: 52px;
    width: 780px;
    padding: 0;
    margin-top: 13px;
    margin-bottom: 25px;
}
.wrap-input>input {
    position: absolute;
    box-shadow: none;
    background-color: #FCFDFE;
    border-color: #DEDEDE;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    width: 728.334px;
    height: 52px;
    padding-left: 47px;
    color: #4F5665;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans';
}
.wrap-input>.icon-depan {
    position: absolute;
    width: 24px;
    z-index: 2;
    left: 13px;
    top: 54%;
    transform: translateY(-50%);
}
.wrap-input>.icon-belakang {
    position: absolute;
    width: 16px;
    z-index: 2;
    right: 13px;
    top: 54%;
    transform: translateY(-50%);
}
.btn-submit {
    width: 100%;
    height: 50px;
    color: #0B132A;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background-color: #FF8906;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
}
.have-account {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    text-align: center;
    margin-top: 25px;
}
.have-account>a {
    color: #FF8906;
}
.wrap-or-bottom {
    position: relative;
    width: 780px;
    height: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.wrap-or-bottom>.hr-1 {
    position: absolute;
    left: 0;
    border: none;
    border-top: 0.5px solid;
    width: 312px;
    border-color: #DEDEDE;
}
.or {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
    color: #AAAAAA;
}
.wrap-or-bottom>.hr-2 {
    position: absolute;
    right: 0;
    border: none;
    border-top: 0.5px solid;
    width: 312px;
    border-color: #DEDEDE;
}
.wrap-oauth {
    text-align: center;
}
.oauth {
    text-align: center;
    display: inline-block;
    width: 383px;
    height: 64px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    cursor: pointer;
}
.oauth>svg {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 22px;
}
.oauth>span {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    color: #4F5665;
}
.wrap-input>.icon-belakang {
    cursor: pointer;
}
