nav {
    position: relative;
    height: 76px;
    color: white;
    z-index: 2;
}
.nav-left {
    position: absolute;
    left: 130px;
    top: 22px;
    /* width: 357px; */
}
.nav-left img {
    display: inline-block;
    vertical-align: middle;
}
.menu-navigasi {
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    padding-left: 0;
}
.nav-left li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
}
.nav-right {
    position: absolute;
    right: 130px;
    transform: translateX(50%);
    top: 50%;
    transform: translateY(-50% );
}
.nav-right svg {
    vertical-align: middle;
}
.nav-right a {
    text-decoration: none;
    padding: 12px 18px;
}
.nav-right>.btn-sign-in {
    color: white;
    border: solid 1px;
    border-radius: 5px;
    border-color: white;
    padding: 12px 18px;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 22px;
}
.nav-right>.btn-sign-up {
    color: #0B132A;
    background-color: #FF8906;
    padding: 12px 18px;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    margin-left: 22px;
}
.cart-icon {
    margin-left: 22px;
}

/* Footer */
footer {
    padding-top: 50px;
    padding-left: 130px;
    padding-bottom: 67.5px;
    background-color: #F8F8F8;
}
.footer {
    display: inline-block;
    vertical-align: top;
}
.footer:nth-child(1){
    width: 355px;
    margin-right: 45px;
    vertical-align: bottom;
}
.footer:nth-child(1)>img {
    margin-bottom: 22.5px;
}
.footer:nth-child(1)>p {
    margin-bottom: 32px;
}
.footer:nth-child(1)>p {
    color: #4F5665;
}
.footer:nth-child(1)>span {
    color: #AFB5C0;
}
.footer:nth-child(2){
    width: 94px;
    margin-right: 106px;
}
.footer:nth-child(3) {
    margin-right: 76px;
}
.footer:nth-child(4) .icon-sm {
    display: inline-block;
    margin-right: 20px;
}
.footer:nth-child(4) .icon-sm>svg {
    background-color: #0B132A;
    border-radius: 50%;
}
.footer>h2 {
    font-size: 18px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 20px;
}
.footer:nth-child(2)>h2 {
    margin-bottom: 26px;
}
.footer li {
    list-style: none;
}
.footer li>a {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    color: #4F5665;
    line-height: 30px;
    margin-bottom: 10px
}